<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Галерея сгенерированного ИИ искусства</h1>
        {% if user %}
        <p>Добро пожаловать, {{ user.name }}!</p>
        <a href="/logout" class="btn btn-danger">Выйти</a>
        <a href="/add_image" class="btn btn-primary">Добавить изображение</a>
        {% else %}
        <a href="/login" class="btn btn-primary">Войти</a>
        <a href="/register" class="btn btn-secondary">Зарегистрироваться</a>
        {% endif %}
        <div class="row mt-4">
            {% for image in images %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename=image.file_path.split('/')[-1]) }}" class="card-img-top" alt="{{ image.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ image.title }}</h5>
                        <p class="card-text">{{ image.prompt }}</p>
                        <p class="card-text">Автор: {{ image.author_user.name }}</p>
                        <p class="card-text">Рейтинг: {{ image.rating }}</p>
                        {% if user and (user.id == image.author or user.id == 1) %}
                        <form method="POST" action="/delete_image/{{ image.id }}">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                            <a href="{{ url_for('edit_image', image_id=image.id) }}" class="btn btn-primary">Изменить</a>
                        </form>
                        {% endif %}
                        <form action="{{ url_for('upvote', image_id=image.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-success">▲</button>
                        </form>
                        <form action="{{ url_for('downvote', image_id=image.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">▼</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
