<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% if user %}
        <h1>Добро пожаловать на сайт, {{ user.name }} {{ user.surname }}!</h1>
        <button class="btn btn-danger" onclick="window.location.href='{{ url_for('logout') }}'">Выйти</button>
        <button class="btn btn-success" onclick="window.location.href='{{ url_for('add_image') }}'">Добавить изображение</button>
        {% else %}
        <h1 class="mt-5">Добро пожаловать на сайт!</h1>
        <div class="mt-4">
            <button class="btn btn-primary" onclick="window.location.href='{{ url_for('register') }}'">Регистрация</button>
            <button class="btn btn-secondary" onclick="window.location.href='{{ url_for('login') }}'">Вход</button>
        </div>
        {% endif %}
        <div class="mt-4">
            {% for image in images %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ image.title }}</h2>
                        <p class="card-text">Автор: {{ image.author_user.name }} {{ image.author_user.surname }}</p>
                        <p class="card-text">Описание: {{ image.prompt }}</p>
                        <p class="card-text">Дата генерации: {{ image.generation_date.strftime('%Y-%m-%d') }}</p>
                        <p class="card-text">Рейтинг: {{ image.rating }}</p>
                        {% if user %}
                            <form action="{{ url_for('upvote', image_id=image.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-success">▲</button>
                            </form>
                            <form action="{{ url_for('downvote', image_id=image.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger">▼</button>
                            </form>
                        {% endif %}
                        {% if user and (user.id == image.author or user.id == 1) %}
                        <form action="{{ url_for('delete_image', image_id=image.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
